<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.module.user.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.campus.module.user.entity.SysUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatarUrl"/>
        <result column="role" property="role"/>
        <result column="openid" property="openid"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password, nickname, avatar, role, openid, status, create_time
    </sql>

    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM sys_user
        WHERE username = #{username}
        LIMIT 1
    </select>

    <select id="selectByOpenid" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM sys_user
        WHERE openid = #{openid}
        LIMIT 1
    </select>

</mapper>
